/*Selector universal, selecciona todo en el html
 *{
    color: red;
}
h1,h2{
    color: blue;
}
.contact-form__input--active{
    color: rgb(0, 128, 90);              METODOLOGIA BEM
}
.contact-form__input{
    color: blue;
}*/
*{
    
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 46px;
}
/*.contact-form__h2{
    font-size: 4em;
    color: rgb(159, 4, 4);
}*/

h2{
    background-color: red;
    display: inline-block;
    padding: 100px;
    text-align: center;
    margin:20px 10px;
    border-radius: 2em;
    border: 6px double #a22;
    box-shadow: 30px 10px 10px 0 #000;
    text-shadow: 2px 2px 7px #fff,2px 2px 7px #fff;
}

